In [7]:
from sktime.forecasting.compose import DirectTabularRegressionForecaster
from sklearn.linear_model import QuantileRegressor
from sktime.datasets import load_airline
import pandas as pd
y = load_airline()
alpha = [i/5 for i in range(1, 5)]
q_preds = []
for a in alpha:
    qregressor = QuantileRegressor(quantile=a, solver="highs-ds")
    forecaster = DirectTabularRegressionForecaster(qregressor)
    forecaster.fit(y, fh=[1, 2, 3])
    pred = forecaster.predict(fh=[1,2,3])
    q_preds.append(pred.rename(a))
q_preds = pd.concat(q_preds, axis=1)
q_preds.columns = pd.MultiIndex.from_product([[y.name], q_preds.columns])
q_preds

        Number of airline passengers
                                 0.2         0.4         0.6         0.8
1961-01                   406.092096  424.420693  451.978170  483.242568
1961-02                   400.485597  433.048268  488.879717  492.699910
1961-03                   428.908820  454.439166  472.142841  481.930738